body {
  margin: 0;
  padding: 0;
  color:white;
  padding: 100px;
  text-align: center;
  font-family: sans-serif;
}

h3 {  
  font-size: 25px;
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding: 0;
  color:white;
  text-align: center;
}

.title-block{
  text-align: 'center';
  padding: '2rem';
}

.home-link {
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  font-weight: bold;
  font-size: 15px;
  color: #00d084;
}

.home-link:hover {
  color: #00b574;
  text-decoration: underline;
}

.song-list{
  list-style: none;
  line-height: 3rem;
}

.delete-button {
  margin-left: 1rem;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  background: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
}