body {
  margin: 0;
  padding: 0;
  color:white;
  padding: 100px;
  text-align: center;
  font-family: sans-serif;
}

.profile {
  text-align: center;
  line-height: 3rem;
}

.construction {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  font-size: 15px;
}
